
*.dll
*.cache
*.exe
*.pdb
demo_object_var_dynamic/.vs/Basic_Concept/v16/.suo
*.v2
demo_object_var_dynamic/bin/Debug/*
demo_object_var_dynamic/obj/*
AsyncAwaitPractise/bin/Debug/*
AsyncAwaitPractise/obj/*
LinqBasic/bin/Debug/*
LinqBasic/obj/*
LinqBasic/.vscode/launch.json
LinqBasic/.vscode/tasks.json
demo_object_var_dynamic/demo_object_var_dynamic/bin/Debug/*
demo_object_var_dynamic/demo_object_var_dynamic/obj/*
